/* Reseteo */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

* {
  font-size: 62.5%;
  list-style: none; }

body {
  overflow: overlay; }
  body::-webkit-scrollbar {
    width: 1.2rem;
    background-color: transparent; }
  body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0.5rem 0.5 black;
    border: solid 0.4rem transparent; }

/*************
 *Tipografia*
 *************/
@font-face {
  font-family: "Bold";
  src: url("../../assets/fonts//bold.otf"); }

body,
input,
button {
  font-family: "Bold", sans-serif; }

h1 {
  color: black;
  font-size: 5rem;
  text-transform: uppercase; }

nav a,
nav p,
nav span,
footer a,
footer p,
footer span {
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-decoration: none; }

nav i,
footer i {
  color: black;
  font-size: 1.6rem;
  padding: 0 0.6rem; }

nav img,
footer img {
  width: 10rem; }

header {
  background-color: white;
  position: fixed;
  width: 100%;
  padding: 1rem;
  z-index: 1; }
  header .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem; }
    header .navbar__info {
      width: 30rem;
      line-height: 2.2rem; }
      header .navbar__info i {
        width: 3.2rem;
        text-align-last: center; }
    header .navbar__icons {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: right;
      align-items: center;
      width: 30rem; }
      header .navbar__icons .navbar__user {
        margin-right: 1rem;
        cursor: pointer; }
      header .navbar__icons .navbar__cart {
        cursor: pointer; }

/* HEADER */
.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  padding: 8.9rem 0 0 8.9rem; }
  .hero h1 {
    color: #ffffff;
    font-size: 9.5rem;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem; }
  .hero__video {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: fill; }

.product {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 114rem;
  margin: auto; }
  @media (min-width: 992px) {
    .product {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      padding-top: 5%;
      max-width: 95%; } }
  @media (min-width: 1200px) {
    .product {
      max-width: 114rem; } }
  .product__img {
    width: 80%; }
    .product__img img {
      width: 100%; }
    @media (min-width: 992px) {
      .product__img {
        width: 50%; } }
  .product__info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    padding-top: 3rem; }
    @media (min-width: 992px) {
      .product__info {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        padding-left: 5rem;
        padding-top: 0; } }
    .product__info p {
      color: black;
      font-size: 1.2rem;
      font-weight: 400;
      text-align: left;
      text-decoration: none;
      letter-spacing: 0.1rem;
      line-height: 1.5;
      max-width: 100%; }
      .product__info p span {
        color: #979797;
        font-size: 1.2rem;
        font-weight: 800;
        text-align: flex-start;
        text-decoration: none;
        letter-spacing: 0.05rem; }
    .product__info h1 {
      color: black;
      font-size: 3.6rem;
      font-weight: 800;
      text-align: left;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.1rem;
      font-size: 2.5rem;
      padding: .5rem 0; }
    .product__info strong {
      color: black;
      font-size: 1.5rem;
      font-weight: 800;
      text-align: left;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.1rem;
      font-size: 1.8rem;
      width: 70%; }
      .product__info strong:after {
        content: "";
        background-color: #dddddd;
        display: block;
        position: relative;
        bottom: 0;
        height: 1px;
        margin-top: 2rem; }
  .product .black-button {
    padding-top: 2rem;
    padding-bottom: 1.2rem;
    text-align: left;
    padding-bottom: 0; }
    .product .black-button h3 a,
    .product .black-button a,
    .product .black-button button {
      color: black;
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.1rem;
      border: 1px solid black;
      padding: 1.2rem 2.4rem;
      background-color: transparent;
      cursor: pointer; }

.breadcrumbs {
  padding: 11.8rem 0 3rem 2.6rem; }
  .breadcrumbs ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center; }
    .breadcrumbs ul a, .breadcrumbs ul span {
      color: #979797;
      font-size: 1.2rem;
      font-weight: 800;
      text-align: flex-start;
      text-decoration: none;
      letter-spacing: 0.05rem; }
    .breadcrumbs ul a:after {
      content: "/";
      padding: 0 1rem; }

.cart {
  background-color: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: all 0.3s linear;
  transform: translateX(100%);
  padding: 3rem;
  z-index: 3; }
  @media (min-width: 425px) {
    .cart {
      width: 42.5rem; } }
  .cart .close {
    color: black;
    font-size: 2.5rem;
    padding: 0.6rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    cursor: pointer; }
  .cart h2 {
    color: black;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    padding: .6rem 0 1.5rem 0; }
  .cart #cart-items {
    overflow-y: auto; }
    .cart #cart-items::-webkit-scrollbar {
      width: 1rem; }
    .cart #cart-items::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 0.1rem 0.1rem #979797;
      border: solid .4rem transparent; }
    .cart #cart-items .item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 0; }
      .cart #cart-items .item__image img {
        height: 15rem; }
      .cart #cart-items .item__data {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 2rem;
        color: black;
        font-size: 3rem;
        padding: 0.6rem;
        width: 20rem;
        height: 15rem;
        padding: 0; }
        .cart #cart-items .item__data h3,
        .cart #cart-items .item__data h3 a,
        .cart #cart-items .item__data strong {
          color: black;
          font-size: 1.5rem;
          font-weight: 800;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.1rem; }
        .cart #cart-items .item__data h4 {
          color: #979797;
          font-size: 1.2rem;
          font-weight: 800;
          text-align: center;
          text-decoration: none;
          letter-spacing: 0.05rem; }
        .cart #cart-items .item__data p,
        .cart #cart-items .item__data span,
        .cart #cart-items .item__data label {
          color: black;
          font-size: 1.2rem;
          font-weight: 400;
          text-align: center;
          text-decoration: none;
          letter-spacing: 0.1rem;
          line-height: 1.5;
          max-width: none; }
        .cart #cart-items .item__data .item__bin, .cart #cart-items .item__data .item__total {
          align-self: self-end; }
        .cart #cart-items .item__data .item__bin {
          font-size: 1.6rem;
          cursor: pointer; }
      .cart #cart-items .item__units {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 8rem;
        border: 1px solid black;
        margin-top: .5rem; }
        .cart #cart-items .item__units i {
          font-size: 1rem;
          padding: .8rem;
          cursor: pointer; }
  .cart__price {
    border-top: 1px solid black;
    padding: 1rem 0;
    margin-top: 1.5rem; }
    .cart__price span {
      color: #979797;
      font-size: 1.2rem;
      font-weight: 800;
      text-align: start;
      text-decoration: none;
      letter-spacing: 0.05rem;
      text-align-last: left; }
    .cart__price h3 {
      color: black;
      font-size: 1.5rem;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.1rem;
      font-size: 1.8rem;
      text-align-last: justify; }
  .cart__checkout {
    padding-top: none;
    padding-bottom: 1.2rem;
    text-align: center;
    padding-top: 1.5rem; }
    .cart__checkout h3 a,
    .cart__checkout a,
    .cart__checkout button {
      color: black;
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.1rem;
      border: 1px solid black;
      padding: 1.2rem 2.4rem;
      background-color: transparent;
      cursor: pointer; }
  .cart__show {
    transform: translateX(0); }

.store {
  max-width: 114rem;
  margin: auto;
  padding: 0 2rem; }
  @media (min-width: 1200px) {
    .store {
      padding: 0; } }
  .store h2 {
    color: #000000;
    font-size: 3.6rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding: 5rem 0; }

.slider {
  max-width: 114rem;
  margin: auto;
  padding: 0 2rem; }
  @media (min-width: 1200px) {
    .slider {
      padding: 0; } }
  .slider h2 {
    color: #000000;
    font-size: 3.6rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding: 3rem 0 5rem 0; }
  .slider__slide {
    position: relative;
    padding-top: 0;
    padding-bottom: 1.2rem;
    text-align: center;
    padding-bottom: 0; }
    .slider__slide .overlay__content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      color: black;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.25s; }
      .slider__slide .overlay__content:hover {
        opacity: 1; }
      .slider__slide .overlay__content > * {
        transform: translateY(2rem);
        transition: transform 0.25s;
        width: 90%; }
      .slider__slide .overlay__content:hover > * {
        transform: translateY(0);
        width: 90%; }
    .slider__slide h3 a,
    .slider__slide a,
    .slider__slide button {
      color: white;
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.1rem;
      border: 1px solid white;
      padding: 1.2rem 2.4rem;
      background-color: transparent;
      cursor: pointer; }
    .slider__slide img {
      width: 100%; }

.store {
  max-width: 114rem;
  margin: auto;
  padding: 0 2rem; }
  .store img {
    width: 90%; }
  @media (min-width: 1200px) {
    .store {
      padding: 0; } }
  .store h1 {
    color: #000000;
    font-size: 3.6rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding: 3.6rem 0; }
  .store h2 {
    color: black;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-size: 5.5rem;
    padding: 1.5rem 0; }
  .store .classification {
    display: none; }
    @media (min-width: 576px) {
      .store .classification {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
        padding-top: 8.8rem; }
        .store .classification h3,
        .store .classification h3 a,
        .store .classification strong {
          color: #000000;
          font-size: 1.5rem;
          font-weight: 800;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.1rem; }
        .store .classification h4 {
          color: #979797;
          font-size: 1.2rem;
          font-weight: 800;
          text-align: center;
          text-decoration: none;
          letter-spacing: 0.05rem; }
        .store .classification p,
        .store .classification span,
        .store .classification label {
          color: #000000;
          font-size: 1.2rem;
          font-weight: 400;
          text-align: center;
          text-decoration: none;
          letter-spacing: 0.1rem;
          line-height: 1.5;
          max-width: none; } }
    .store .classification h1 {
      color: #000000;
      font-size: 3.6rem;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.1rem;
      font-size: 4.6rem; }
    .store .classification__elements {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 5rem 0; }
      .store .classification__elements .quantity {
        width: 8rem; }
      .store .classification__elements i {
        color: black;
        font-size: 1.6rem;
        padding: 0.6rem;
        padding: 0 1rem; }
  .store__content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start; }
    @media (min-width: 576px) {
      .store__content {
        display: grid;
        grid-template-columns: 17rem auto; } }
    .store__content .filter {
      display: none; }
      @media (min-width: 576px) {
        .store__content .filter {
          display: inherit;
          padding-right: 2rem; } }
      .store__content .filter__type {
        padding-bottom: 1.5rem;
        font-size: 31px; }
        .store__content .filter__type span {
          color: black;
          font-size: 1.5rem;
          font-weight: 800;
          text-align: left;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.1rem; }
        .store__content .filter__type form {
          padding: 1rem 0; }
        .store__content .filter__type .filter__category {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: flex-start;
          padding: 0.5rem; }
          .store__content .filter__type .filter__category button {
            color: black;
            font-size: 1.2rem;
            font-weight: 400;
            text-align: left;
            text-decoration: none;
            letter-spacing: 0.1rem;
            line-height: 1.5;
            max-width: none;
            text-transform: capitalize;
            background-color: transparent;
            border: none;
            padding: 0.5rem;
            cursor: pointer; }
        .store__content .filter__type .filter__price {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: left;
          align-items: flex-start; }
          .store__content .filter__type .filter__price input {
            margin-bottom: 0; }
          .store__content .filter__type .filter__price p {
            color: black;
            font-size: 1.2rem;
            font-weight: 400;
            text-align: left;
            text-decoration: none;
            letter-spacing: 0.1rem;
            line-height: 1.5;
            max-width: none; }
    .store__content .filter {
      display: none; }
      @media (min-width: 576px) {
        .store__content .filter {
          display: inherit;
          padding-right: 2rem; } }
      .store__content .filter__type {
        padding-bottom: 1.5rem;
        font-size: 31px; }
        .store__content .filter__type span {
          color: black;
          font-size: 1.5rem;
          font-weight: 800;
          text-align: left;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.1rem; }
        .store__content .filter__type form {
          padding: 1rem 0; }
        .store__content .filter__type .filter__color {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          padding: 0.5rem; }
          .store__content .filter__type .filter__color button {
            color: transparent;
            font-size: 1.2rem;
            font-weight: 400;
            text-align: left;
            text-decoration: none;
            letter-spacing: 0.1rem;
            line-height: 1.5;
            max-width: none;
            text-transform: capitalize;
            background-color: transparent;
            border: none;
            padding: 0.5rem;
            margin: 0.5rem;
            cursor: pointer; }
        .store__content .filter__type .filter__price {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: left;
          align-items: flex-start; }
          .store__content .filter__type .filter__price input {
            margin-bottom: 0; }
          .store__content .filter__type .filter__price p {
            color: black;
            font-size: 1.2rem;
            font-weight: 400;
            text-align: left;
            text-decoration: none;
            letter-spacing: 0.1rem;
            line-height: 1.5;
            max-width: none; }
  .store #new-in,
  .store #essential,
  .store #collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem; }
    .store #new-in .error,
    .store #essential .error,
    .store #collection .error {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      top: 50rem;
      left: 0rem;
      width: 100%; }
      .store #new-in .error span,
      .store #essential .error span,
      .store #collection .error span {
        color: black;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.1rem;
        line-height: 1.5;
        max-width: 20rem; }
      .store #new-in .error i,
      .store #essential .error i,
      .store #collection .error i {
        color: black;
        font-size: 3rem;
        padding: 0.6rem; }
    .store #new-in .card,
    .store #essential .card,
    .store #collection .card {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center; }
      .store #new-in .card .overlay__item,
      .store #essential .card .overlay__item,
      .store #collection .card .overlay__item {
        position: relative; }
        .store #new-in .card .overlay__item .overlay__content,
        .store #essential .card .overlay__item .overlay__content,
        .store #collection .card .overlay__item .overlay__content {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          color: black;
          background-color: rgba(0, 0, 0, 0.6);
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: opacity 0.25s; }
          .store #new-in .card .overlay__item .overlay__content:hover,
          .store #essential .card .overlay__item .overlay__content:hover,
          .store #collection .card .overlay__item .overlay__content:hover {
            opacity: 1; }
          .store #new-in .card .overlay__item .overlay__content > *,
          .store #essential .card .overlay__item .overlay__content > *,
          .store #collection .card .overlay__item .overlay__content > * {
            transform: translateY(2rem);
            transition: transform 0.25s;
            width: 90%; }
          .store #new-in .card .overlay__item .overlay__content:hover > *,
          .store #essential .card .overlay__item .overlay__content:hover > *,
          .store #collection .card .overlay__item .overlay__content:hover > * {
            transform: translateY(0);
            width: 90%; }
        .store #new-in .card .overlay__item img,
        .store #essential .card .overlay__item img,
        .store #collection .card .overlay__item img {
          width: 100%; }
        .store #new-in .card .overlay__item .overlay__buttons,
        .store #essential .card .overlay__item .overlay__buttons,
        .store #collection .card .overlay__item .overlay__buttons {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
          align-items: center;
          padding: 4rem; }
          .store #new-in .card .overlay__item .overlay__buttons a,
          .store #new-in .card .overlay__item .overlay__buttons button,
          .store #essential .card .overlay__item .overlay__buttons a,
          .store #essential .card .overlay__item .overlay__buttons button,
          .store #collection .card .overlay__item .overlay__buttons a,
          .store #collection .card .overlay__item .overlay__buttons button {
            color: white;
            border: none;
            background-color: transparent;
            cursor: pointer; }
            .store #new-in .card .overlay__item .overlay__buttons a i,
            .store #new-in .card .overlay__item .overlay__buttons button i,
            .store #essential .card .overlay__item .overlay__buttons a i,
            .store #essential .card .overlay__item .overlay__buttons button i,
            .store #collection .card .overlay__item .overlay__buttons a i,
            .store #collection .card .overlay__item .overlay__buttons button i {
              font-size: 2rem; }
          @media (min-width: 576px) {
            .store #new-in .card .overlay__item .overlay__buttons,
            .store #essential .card .overlay__item .overlay__buttons,
            .store #collection .card .overlay__item .overlay__buttons {
              padding: 0; } }
          @media (min-width: 992px) {
            .store #new-in .card .overlay__item .overlay__buttons,
            .store #essential .card .overlay__item .overlay__buttons,
            .store #collection .card .overlay__item .overlay__buttons {
              padding: 4rem; } }
      .store #new-in .card .card__detail,
      .store #essential .card .card__detail,
      .store #collection .card .card__detail {
        padding-top: 2rem;
        padding-bottom: 2rem; }
        .store #new-in .card .card__detail h3,
        .store #new-in .card .card__detail h3 a,
        .store #new-in .card .card__detail strong,
        .store #essential .card .card__detail h3,
        .store #essential .card .card__detail h3 a,
        .store #essential .card .card__detail strong,
        .store #collection .card .card__detail h3,
        .store #collection .card .card__detail h3 a,
        .store #collection .card .card__detail strong {
          color: #000000;
          font-size: 1.5rem;
          font-weight: 800;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.1rem; }
        .store #new-in .card .card__detail h4,
        .store #essential .card .card__detail h4,
        .store #collection .card .card__detail h4 {
          color: #979797;
          font-size: 1.2rem;
          font-weight: 800;
          text-align: center;
          text-decoration: none;
          letter-spacing: 0.05rem; }
        .store #new-in .card .card__detail p,
        .store #new-in .card .card__detail span,
        .store #new-in .card .card__detail label,
        .store #essential .card .card__detail p,
        .store #essential .card .card__detail span,
        .store #essential .card .card__detail label,
        .store #collection .card .card__detail p,
        .store #collection .card .card__detail span,
        .store #collection .card .card__detail label {
          color: #000000;
          font-size: 1.2rem;
          font-weight: 400;
          text-align: center;
          text-decoration: none;
          letter-spacing: 0.1rem;
          line-height: 1.5;
          max-width: none; }
  @media (min-width: 576px) {
    .store #new-in,
    .store #essential {
      grid-template-columns: repeat(4, 1fr); } }
  @media (max-width: 575px) {
    .store #collection {
      padding-top: 11rem; } }

@media (min-width: 576px) and (min-width: 768px) {
  .store #collection {
    grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 576px) and (min-width: 992px) {
  .store #collection {
    grid-template-columns: repeat(4, 1fr); } }

#new {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  text-align: left; }
  #new h3 a,
  #new a,
  #new button {
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    border: 1px solid black;
    padding: 1.2rem 2.4rem;
    background-color: transparent;
    cursor: pointer; }
  #new p {
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    max-width: 20rem;
    display: inline-block;
    padding-bottom: 1rem; }

nav button, footer button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 1rem; }
