/*******
*Mixins*
*******/

@mixin flex($direction, $wrap, $justify, $align) {
	display: flex;
	flex: {
		direction: $direction;
		wrap: $wrap;
	}
	justify-content: $justify;
	align-items: $align;
}

@mixin subtitle($color, $align) {
	color: $color;
	font: {
		size: 5.6rem;
		weight: $extra-bold;
	}
	text: {
		align: $align;
		transform: uppercase;
		decoration: none;
	}
	letter-spacing: 0.1rem;
}
